.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.login-card {
  width: 350px;
  padding: 40px;

  background: white;
  border-radius: 10px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.form-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 6px;
}

input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #2a5298;
}

button {
  width: 100%;
  padding: 12px;

  background: #2a5298;
  color: white;

  border: none;
  border-radius: 6px;

  font-weight: bold;
  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  background: #1e3c72;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}